@charset "UTF-8";

/* ===== TOPO DOS FILTROS ===== */

.painel-agenda-topo{
    display: flex;
    flex-direction: row-reverse;
}

.seletor-dia-agenda{
    margin-top: 20px;
    margin-left: 20px;
}

.seletor-dia-agenda input{
    border: 1px solid var(--dourado-principal);
    border-radius: 5px;
    background-color: transparent;

    color: var(--cinza-texto);

    text-align: center;

    font-size: 0.9em;
    font-family: var(--font-subtitulos);

    padding: 8px 12px;
}

.seletor-dia-agenda input::-webkit-calendar-picker-indicator{
    cursor: pointer;
    filter: invert(1);
}

/* ===== CONTAINER ===== */

.lista-agendamentos{
    width: 100%;
}

/* ===== INFORMAÇÕES DOS CARDS ===== */

.detalhes-agendamento{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-detalhe{
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--cinza-texto);

    font-family: var(--font-subtitulos);
    font-size: 0.9rem;
}

.icone-detalhe{
    color: var(--dourado-principal);
}

/* ===== RESPONSIVIDADE ===== */

@media (max-width: 1024px){

    .painel-agenda-topo{
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .seletor-dia-agenda{
        margin-left: 0;
    }

    .seletor-dia-agenda input{
        font-size: 0.85em;
        padding: 7px 10px 7px 8px;
    }
}

@media (max-width: 768px){

    .painel-agenda-topo{
        flex-direction: column-reverse;
        gap: 15px;
        align-items: stretch;
    }

    .filtro{
        width: 100%;
        justify-content: center;
    }

    .seletor-dia-agenda{
        width: 100%;
        margin-top: 0;
    }

    .seletor-dia-agenda input{
        width: 100%;
    }

    .item-detalhe{
        font-size: 0.8rem;
    }
}