@charset "UTF-8";

.back-link{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;

    width: fit-content;

    color: var(--dourado-principal);
    font-size: 0.9em;
    font-family: var(--font-subtitulos);
    font-weight: lighter;

    text-decoration: none;
    transition: 0.2s ease;
}


/* ícone */
.back-link svg {
  font-size: 0.9em;
  transition: transform 0.25s ease;
}

/* animação da seta */
.back-link:hover svg {
  transform: translateX(-4px);
}

@media (max-width: 768px){
  .back-link{
    font-size: 0.7em;
  }
}