@charset "UTF-8";

.hero {
  min-height: 100vh;
  position: relative;
  background-image: url("../assets/fundo-home2.webp");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
}

/* .hero::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 200px;

  width: 100%;
  max-width: 900px;
  height: 900px;

  background-image: url("../assets/logo-salão-trasparente.png");
  background-repeat: no-repeat;
  background-size: contain;

  opacity: 0.08;
  pointer-events: none;

  transform: translate(20%, -20%);
  z-index: 1;
} */

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  z-index: 1;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  padding: 40px 80px 0 80px;
  z-index: 2;
}

.left img {
  width: 100%;
  max-width: 500px;
  height: auto;
  
  
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.4));

  -webkit-mask-image:
    linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 25%, black 100%);

  -webkit-mask-composite: destination-in;

  mask-image:
    linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 25%, black 100%);

  mask-composite: intersect;
}

.right {
  width: 100%;
  max-width: 700px;
  position: relative;
  z-index: 2;
}

.right::before {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 500px;
  height: 500px;

  background-image: url("../assets/logo-salão-trasparente.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  opacity: 0.08;

  pointer-events: none;
  z-index: 0;
}

.right h1 {
  color: var(--branco);
  font-family: var(--font-titulo);
  font-size: 3.2rem;
  line-height: 1.2;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #c9a32746;
  text-align: center;
}

.right h1 strong {
  font-family: var(--font-titulo);
  color: var(--dourado-principal);

  text-shadow:
    0 0 10px rgba(201, 151, 62, 0.5),
    0 0 20px rgba(201, 151, 62, 0.3);
}

.right h3 {
  color: var(--branco);
  font-family: var(--font-titulo);
  font-weight: lighter;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}

.btn-agendar {
  display: block;
  width: 170px;
  height: 50px;
  margin: 100px auto 0 auto;
  border-radius: 5px;
  font-family: var(--font-subtitulos);
}

.about-studio,
.services {
  margin-top: 30px;
  padding: 20px 0;
  position: relative;
  z-index: 3;
}

.about-studio h2,
.services h2 {
  font-family: var(--font-titulo);
  color: var(--dourado-principal);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  text-shadow:
    0 0 6px rgba(201, 151, 62, 0.7),
    0 0 12px rgba(201, 151, 62, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.about-studio h2::before,
.about-studio h2::after,
.services h2::before,
.services h2::after {
  content: "";
  height: 1px;
  width: 140px;

  background: linear-gradient(
    to right,
    rgba(201, 151, 62, 0.1),
    rgba(201, 151, 62, 0.9)
  );
}

.about-studio h2::before {
  background: linear-gradient(
    to left,
    rgba(201, 151, 62, 0.1),
    rgba(201, 151, 62, 0.9)
  );
}

.about-studio p {
  font-family: var(--font-subtitulos);
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
  opacity: 0.8;
}

.line {
  width: 95%;
  height: 1px;
  margin: 30px auto;

  background: linear-gradient(
    to right,
    transparent,
    rgba(201, 151, 62, 0.8),
    transparent
  );
}

.imagens {
  display: grid;
  grid-template-columns: repeat(2, 340px);
  gap: 55px 60px;
  justify-content: center;
  margin-top: 40px;
}

.card-img {
  position: relative;
  padding: 18px;
  width: 100%;
  max-width: 340px;

  background: rgba(42, 30, 27, 0.78);
  backdrop-filter: blur(8px);

  border-radius: 10px;
  text-align: center;

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.35),
    0 0 10px rgba(201, 151, 62, 0.08);

  transition: all 0.3s ease;
}

.card-img:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow:
    0 20px 35px rgba(0, 0, 0, 0.45),
    0 0 20px rgba(201, 151, 62, 0.12);
}

.card-img::before {
  content: "";
  position: absolute;
  inset: -15px;
  border-radius: 8px;

  border: 1px solid rgba(201, 151, 62, 0.4);
  box-shadow: 5px 5px 10px #c9a32716;
  pointer-events: none;
}

.design,
.henna,
.micro,
.brow {
  width: 100%;
  max-width: 290px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;

  border: 1px solid var(--dourado-principal);
  margin-top: 5px;
}

.card-img p {
  color: var(--cinza-texto);
  font-family: var(--font-subtitulos);
  padding-top: 14px;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.info {
  margin-top: 30px;
  padding: 20px 0;
}

.info p {
  font-family: var(--font-subtitulos);
  color: var(--branco);
  font-size: 1.1rem;
  font-weight: lighter;
  text-align: center;
  margin: auto;
  max-width: 750px;
  opacity: 0.8;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 3;
  margin-top: 10px;
}

.insta-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.insta-link span {
  color: var(--dourado-principal);
  font-family: var(--font-subtitulos);
  font-size: 1rem;
  transition: color 0.3s ease;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;

  position: relative;
  display: inline-block;
  overflow: hidden;
}

.insta-link span::after {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0px;

  width: 100%;
  height: 2px;

  background: linear-gradient(
    90deg,
    transparent,
    var(--dourado-principal),
    transparent
  );
  transition: left 0.6s ease;
}

.insta-link:hover span::after {
  left: 100%;
}

.redes-sociais .icon {
  font-size: 2rem;
  color: var(--dourado-principal);
  transition: color 0.3s ease;
  margin-bottom: 25px;
}


/*Media queries*/

@media (max-width: 768px) {

  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    gap: 25px;
  }

  .left img {
    max-width: 200px;
    margin-bottom: 20px;
  }

  .right h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  .right h3 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .btn-agendar {
    margin-top: 10px;
  }

  .hero::after {
    display: none;
  }

  .about-studio h2,
  .services h2 {
    font-size: 1.5rem;
  }

  .about-studio p,
  .info p {
    font-size: 1rem;
  }

  .imagens {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 25px;
    margin-top: 40px;
    justify-items: center;
  }

  .card-img {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }

  .services,
  .about-studio {
    padding: 0 20px;
    margin-top: 60px;
  }
}

@media (max-width: 1024px) {

  @media (max-width: 1024px) {

  .container {
    flex-direction: column;
    text-align: center;
    padding: 40px 30px;
    gap: 30px;
  }

  .left img {
    max-width: 260px;
    margin-bottom: 20px;
  }

  .right h1 {
    font-size: 2.1rem;
    margin-bottom: 20px;
  }

  .right h3 {
    font-size: 1.1rem;
  }

  .btn-agendar {
    margin-top: 30px;
  }

  .hero::after {
    display: none;
  }

  .imagens {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 40px;
    margin-top: 40px;
    justify-items: center;
  }

  .card-img {
    max-width: 300px;
  }
}
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }

  .left img {
    width: 550px;
  }

  .right h1 {
    font-size: 3.5rem;
  }
}