@charset "UTF-08";

.layout{
    height: 100vh;

    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "sidebar header" "sidebar main";
}

.sidebar-area{
    grid-area: sidebar;
    background-color: #1A1A1A;
    border-right: 1px solid var(--dourado-principal);
}

.header-area{
    grid-area: header;
    background-color: #0D0D0D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.main-area{
    grid-area: main;
    background-color: #0D0D0D;
    padding: 20px;

    overflow-y: auto;
}

@media (max-width: 768px){

    .layout{

        grid-template-columns: 1fr;

        grid-template-rows: auto 1fr auto;

        grid-template-areas:
            "header"
            "main"
            "sidebar";
    }

    .header-area{

        padding: 18px 18px 14px 18px;
    }

    .sidebar-area{

        position: fixed;

        bottom: 0;
        left: 0;

        width: 100%;
        height: 70px;

        z-index: 999;
    }

    .main-area{
        padding: 15px;
        padding-bottom: 90px;
    }
}