@charset "UTF-8";

.busca{
    display: flex;
    justify-content: space-between;
}

.filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-right: 20px;
}

.filtro p.ativo{
    border: 1px solid var(--dourado-principal);
    color: var(--dourado-principal);
}

.filtro p{
    color: var(--branco);
    font-family: var(--font-subtitulos);
    font-weight: lighter;
    font-size: 0.9em;
    padding: 8px 12px 8px 12px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--cinza-texto);

    cursor: pointer;
    transition: all 0.3s ease;
}

.filtro p:hover{
    color: var(--dourado-principal);
    border: 1px solid var(--dourado-principal);
}